body {
	background-color: #F0EC00;
}

.text {
    position: fixed;
    font-family: 'Lato', sans-serif;
    text-shadow: 5px 4px 10px #888;
    font-size: 2em;
}

#name {
    left: 20%;
    top: 50%;
}

#now {
    top: -20%;
    right: 30%;
}

#start {
    top: 100%;
    right: 35%;
}